<div class="dropdown">
	<a class="dropdown-toggle f5" href="#" data-toggle="dropdown">
		<%= name %>
		<b class="caret"></b>
	</a>

	<ul class="dropdown-menu f4 black pa2">
		<li>
			<%= name %>
		</li>

		<li>
			<%= person.profile_type_list %>
		</li>
		<li class="f4">
			<h6>Interesses:</h6>
			<%= profile_skill_list_formated %>
		</li>
		<li>
			<%= email %>
		</li>
		<li>
			<%= person.short_bio %>
		</li>
	</ul>
</div>

