<div class="dropdown">
	<a class="dropdown-toggle f5" href="#" data-toggle="dropdown">
		<%= name %>
		<b class="caret"></b>
	</a>

	<ul class="dropdown-menu f5 black pa2">
		<li>
			<%= person.profile_type_list %>
		</li>
		<li>
			<%= person.profile_skill_list %>
		</li>
		<li>
			<%= email %>
		</li>
		<li>
			<%= person.short_bio %>
		</li>
	</ul>
</div>

