<footer class="page__footer">
	<ul>
		<li><%= link_to 'Página inicial', root_path %></li>
		<li><%= link_to 'Sobre o Emerge', about_path%></li>
		<li><%= link_to 'Termos de uso', terms_path%></li>
		<li><%= link_to 'Privacidade', privacy_path%></li>
		<li><%= link_to 'Anúncios', adds_path %></li>
		<li><%= link_to "Contato", new_contact_path %></li>
	</ul>     
</footer>

