<div class="header__opportunity relative h8 h7-l bg-top cover bg-black mb3 shadow-1" style="background-image: url(<%= image_path(featured_image_url(:thumb) || "alone-clouds-hills-1909-527x350.jpg")%>);">
	<div class="overlay__container w-100 h-100 bg-black-60">
		<div class="info__container pl4 absolute">
			<div class="row">
				<div class="col-sm-10">
					<h3 class="white fw4">
						<%= title %>
					</h3>
				</div>
			</div>
			<div class="row">
				<%= category_list_formated %>
			</div>

			<h6 class="white fw2">
				<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
				Início das inscrições:
				<%= start_date  %>
			</h6>

			<h6 class="white fw2">
				<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
				Encerramento das inscrições: 
				<%= end_date %>
			</h6>

			<h6 class="white fw2">
				<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
				Anúncio do resultado: 
				<%= result_date %>
			</h6>

			<%= entry_manners_formated %>
			
			<h6 class="white fw2">
				<span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
				Premiação total:
				<%= grants_formatted %>	
			</h6>

			<% if url_source.present? %>
				<h6 class="white fw2">
					<span class="glyphicon glyphicon-link" aria-hidden="true"></span>
					<a href="<%= url_source %>">Fonte online</a>
				</h6>
			<% end %>

			<h6 class="white fw2">
				<span class="glyphicon glyphicon-send" aria-hidden="true"></span>
				Email contato:
				<% if email_contact.present? %>
					<a href="mailto:<%= email_contact%>">
						<%= email_contact%>
					</a>
				<% else %>
					Não informado
				<% end %>
			</h6>

		</div>

		<div class="buttons__container absolute ba b--light-gray bottom-0 w-100 h-15 bg-light-gray">
			<div class="relative">
				<div class="social__buttons absolute left-1 top-1">
					<div class="btn-group">
						<span class="f5">Compartilhe:</span>
						<%= social_share_button_tag(title) %>
					</div>
				</div>
				<div class="follow__like__buttons absolute right-1 top-1">
					<div class="btn-group hidden-xs">
						<button class="btn btn-sm btn-default" data-toggle="modal" data-target="#opportunityQuestModal">
							<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
							Dúvidas e Sugestões
						</button>
					</div>
					<div class="btn-group">
						<button class="btn btn-sm btn-default">
							<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
							Recomendar
						</button>
					</div>
					<div class="btn-group" id="follow_opportunity">
						<% if user_signed_in? %> 

							<% if model.followed_by?(current_user.person) %>
								<%= link_to opportunity_follow_opportunity_path(model.to_param, current_user.person.get_follow(model).id), :class => "btn btn-sm btn-success", :method => :delete, :remote => true do %>
									<span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
									Seguindo
								<% end %>
							<% else %>
								<%= link_to opportunity_follow_opportunities_path(model.to_param), :class => "btn btn-sm btn-default", :remote => true, method: :post do %>
									<span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
									Seguir
								<% end %>
							<% end %>

						<% end %>
					</div>
					<div class="btn-group hidden-xs">

						<% if docs.present? %>
							<button type="button" class="btn btn-sm btn-primary dropdown-toggle"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
								Downloads
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<% docs.each do |doc| %>
									<li>
										<%= link_to doc.doc_type, doc.doc_url %>
									</li>
								<% end %>
							</ul>
						<% else %>
							<button type="button" class="btn btn-sm btn-primary">
								Não existe nenhum documento	
							</button>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
