<% resource.email = params[:email] unless resource.email.present? %>
<div class="container pt6">
	<div class="col-md-7"></div>
	<div class="col-md-5">
		<% signup_link = link_to I18n.t('auth.signup.link'), new_user_registration_path %>
		<h3 class="title">
			<%= I18n.t('auth.login.title', signup_link: signup_link).html_safe %>
		</h3>
		<%= render 'authentications/providers', flow: 'login', icons: true, color: true %>
		<div class="auth__or">
			<hr/>
			<span>or</span>
		</div>
		<%= simple_form_for resource, as: resource_name, url: session_path(resource_name), :validate => true do |f| %>
			<% if devise_mapping.rememberable? %>
				<%= f.input :remember_me, as: :hidden, input_html: {value: true} %>
			<% end %>
			<%= f.input :email, autofocus: true, :validate => true %>
			<%= f.input :password, required: true do |input| %>
				<% if devise_mapping.recoverable? %>
					<%= link_to I18n.t('auth.forgot.prompt'), new_password_path(resource_name), class: 'pull-right small' %>
				<% end %>
				<%= f.input_field :password, required: true, autocomplete: 'off' %>
			<% end %>
			<%= f.button :submit, I18n.t('auth.login.link'), class: 'btn-primary' %>
		<% end %>
		<%= render 'users/shared/links', disable_signup: true %>
	</div>
</div>
