<article class="pb6">
	<div class="center vh-50-l vh-25 dt w-100 tc bg-dark-gray bg-center white cover" style="background-image:url(<%= image %>);">
	</div>
	<div class="center measure-wide f3 pv5-l pv3 lh-copy ph2">
		<h3 class="f2 lh-title"> 
			<%= title %> 
		</h3>
		<div class="cf">
			<dl class="db dib-l w-auto-l lh-title mr6-l">
				<dd class="f6 fw4 ml0">Oportunidades Abertas</dd>
				<dd class="f2 f-subheadline-l fw6 ml0">
					<%= open_opportunities %>
				</dd>
			</dl>
			<dl class="db dib-l w-auto-l lh-title mr6-l">
				<dd class="f6 fw4 ml0">Total de oportunidades cadastradas</dd>
				<dd class="f2 f-subheadline-l fw6 ml0">
					<%= total_opportunities %>
				</dd>
			</dl>

		</div>
		<%= text %>
	</div>
</article>
