<div class="auth__form">
	<%= cell(Users::ProvidersCell, nil,:flow => "signup") %>
	<%= simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f| %>
		<%= f.input :email, autofocus: true, required: true %>
		<% if resource.new_record? %>
				<%= f.input :password, required: true, autocomplete: 'off' %>
		<% else # updating resource %>
			<%= f.input :password, autocomplete: 'off' %>
			<% if resource.password_required? %>
				<%= f.input :current_password, autocomplete: 'off' %>
			<% end %>
		<% end %>
		<% if resource.try(:first_name).present? or resource.try(:last_name).present? %>
			<%= f.input :first_name %>
			<%= f.input :last_name %>
		<% end %>
		<%= f.button :submit, class: 'btn-primary' %>
	<% end %>
</div>

