<li class="dropdown">
	<%= cell(Components::Users::Avatars::TinyCell, nil, {:context => {:current_user => current_user}}) %>
	<ul class="dropdown-menu">
		<li>
			<%= link_to user_profile_path do %>
				<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
				Perfil
			<% end %>
		</li>

		<li>
			<%= link_to edit_user_registration_path do %>
				<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
				<%= I18n.t('account.edit.link') %>
			<% end %>
		</li>

		<li>
			<%=link_to I18n.t('auth.edit.link'), user_authentications_path(current_user)%>
		</li>

		<li>
			<%=link_to "Preferências", user_preferences_path %>
		</li>

		<li>
			<%= link_to destroy_user_session_path, rel: :nofollow do %>
				<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
				<%= I18n.t('auth.logout.link') %>
			<% end %>
		</li>
	</ul>
</li>

