<div class="col-md-8 col-sm-12">
	<%= cell(Components::Opportunity::HeaderCell, model) %>
	<div class="row">
		<div class="col-sm-8 f4">
			<%= content_formatted %>
		</div>
		<div class="col-sm-4">
			<ul class="list-group">
				<%= cell(Components::Opportunity::EntriesCell, entry_manners) %>
				<%= cell(Components::Opportunity::GrantsCell, grants) %>
				<%= cell(Components::Opportunity::TaxesCell, taxes) %>
			</ul>
		</div>
	</div>
</div>

