<div class="col-md-8 col-sm-12">
	<%= cell(Opportunities::HeaderCell, model, {:context => {:current_user => current_user}}) %>	
	<div class="row">
		<div class="col-sm-8 f4">
			<div class="row pb3">
				<div class="col-sm-12">
					<div class="f4 fl pr2">
						Enviado por:
					</div>
					<%= cell(Users::AcountLinkCell, model.author) %>
				</div>
			</div>
			<%= content_formatted %>
		<%= cell(CommentsCell, model, {:context => {:current_user => current_user}}) %>	
		</div>
		<div class="col-sm-4">
			<ul class="list-group">
				<%=link_to 'Baixar calendario', export_opportunity_opportunity_url(model, :format => :ics), :title => "A generic .ics file you can open in most calendar programs.", :target => :blank %>
				<%= cell(Opportunities::RecommendationsCell, model) %>
				<%= cell(Opportunities::EntriesCell, entry_manners) %>
				<%= cell(Opportunities::GrantsCell, grants) %>
				<%= cell(Opportunities::TaxesCell, taxes) %>
			</ul>
		</div>
	</div>

</div>

