<div class="row pb2">
	<div class="col-sm-4">
		<%= link_to model do %>
			<div class="thumbnail pa0 h3 h4-l ma0 bg-top cover bg-black" style="background-image: url(<%= image_path_small %>);">
			</div>
		<% end %>
	</div>
	<div class="col-sm-8">
		<%= link_to model, :class => "f5 ma0 mb1 mt2"  do %>
			<%= title %>
		<% end %>
		<p class="f5">
			<%= summary %>
		</p>
		<p class="f5">
			<%= cell(Users::AcountLinkCell, :collection => model.evaluators_for(:recomendation)) %>
		</p>
	</div>
</div>
