<div class="header__opportunity relative h8 h7-l bg-top cover bg-black mb3 shadow-1" style="background-image: url(<%= image_path(opportunity.featured_image_url(:thumb) || "alone-clouds-hills-1909-527x350.jpg")%>);">
	<div class="overlay__container w-100 h-100 bg-black-60">
		<div class="info__container pl4 absolute">
			<div class="row">
				<div class="col-sm-10">
					<h3 class="white fw4">
						<%= opportunity.title %>
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<span class="label label-info mb2"><a href="#">Fotografia</a></span>
					<span class="label label-info">Artes Visuais</span>
					<span class="label label-info">Pintura</span>
					<span class="label label-info">Instalação</span>
					<span class="label label-info">Performance</span>
					<span class="label label-info">Video Arte</span>
					<span class="label label-info">Objeto</span>
					<span class="label label-info">Arte Contemporânea</span>
				</div>
			</div>

			<h6 class="white fw2">
				<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
				Início das inscrições:
				<%= opportunity.beginning %>
			</h6>

			<h6 class="white fw2">
				<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
				Encerramento das inscrições: 
				<%= opportunity.end_subscription %>
			</h6>

			<h6 class="white fw2">
				<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
				Anúncio do resultado: 
				<%= opportunity.result %>
			</h6>

			<h6 class="white fw2">
				<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
				Forma de Inscrição: 
				<%= opportunity.entry_manner %>
			</h6>
			
			<h6 class="white fw2">
				<span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
				Premiação total: R$ 5.000,00
			</h6>

			</h6>

			<h6 class="white fw2">
				<span class="glyphicon glyphicon-link" aria-hidden="true"></span>
				<a href="#">Fonte online</a>
			</h6>

			<h6 class="white fw2">
				<span class="glyphicon glyphicon-send" aria-hidden="true"></span>
				Email contato:
				<a href="mailto:#">first.last@example.com</a>
			</h6>

		</div>

		<div class="buttons__container absolute ba b--light-gray bottom-0 w-100 h-15 bg-light-gray">
			<div class="relative">
				<div class="social__buttons absolute left-1 top-1">
					<div class="btn-group">
						<span class="f5">Compartilhe:</span>
						<%= social_share_button_tag("Prêmio Fundação Conrado Wessel de Arte – Ensaio Fotográfico", :text => "Nesta décima quinta edição o Prêmio privilegia o Ensaio Fotográfico e é aberto somente para fotógrafos brasileiros natos e brasileiros naturalizados.") %>
					</div>
				</div>
				<div class="follow__like__buttons absolute right-1 top-1">
					<div class="btn-group hidden-xs">
						<button class="btn btn-sm btn-default" data-toggle="modal" data-target="#opportunityQuestModal">
							<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
							Dúvidas e Sugestões
						</button>
					</div>
					<div class="btn-group">
						<button class="btn btn-sm btn-default">
							<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
							Recomendar
						</button>
					</div>
					<div class="btn-group">
						<button class="btn btn-sm btn-default">
							<span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
							Seguir
						</button>
					</div>
					<div class="btn-group hidden-xs">
						<button type="button" class="btn btn-sm btn-primary dropdown-toggle"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Downloads
							<span class="caret"></span>
						</button>

						<%= content_tag(:ul, :class => "dropdown-menu") do %>
							<%= opportunity.downloads %>
						<% end %>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
