<div class="col-sm-8">
	<div class="row">
		<%= simple_form_for @opportunity, remote: true do |f| %>
			<div id="duplicated_message"></div>
				<%= f.input :title %>
				<%= f.input :url_source %>
				<div class="row">
					<div class="col-sm-6">
						<%= f.input :beginning, as: :datepicker, :input_html => {:data => {:orientation => 'bottom'}} %>
					</div>
					<div class="col-sm-6">
						<%= f.input :end_subscription, as: :datepicker %>
					</div>
				</div>
				<%= f.input :content, :as => :text, :input_html => { 'rows' => 8 } %>
				<%= f.button :submit, class: 'submit btn btn-primary' %>
				<%= link_to "Cancelar", :back, :class => "btn btn-default" %>
		<% end %>
	</div>
</div>
