<div class="col-lg-7 col-sm-8">
	<div class="row">
		<h1 class ="pt0 mt0">Compartilhar oportunidade</h1>
		<p>
			Use o formulário abaixo para compartilhar alguma oportunidade que você encontrou e não está no Emerge.
		</p>
		<%= simple_form_for @opportunity, remote: true do |f| %>
			<div id="duplicated_message"></div>
				<%= f.input :title %>
				<%= f.input :url_source %>
				<div class="row">
					<div class="col-sm-6">
						<%= f.input :beginning, as: :datepicker %>
					</div>
					<div class="col-sm-6">
						<%= f.input :end_subscription, as: :datepicker %>
					</div>
				</div>

				<%= f.input :category_list, as: :selectize, :collection => ActsAsTaggableOn::Tagging.where(:context => :categories).joins(:tag).select('DISTINCT tags.name').map{ |x| x.name}, prompt: "Quais práticas em artes te interessam?" %>
				<%= f.input :content, :as => :text, :input_html => { 'rows' => 8 } %>
				<%= f.button :submit, class: 'submit btn btn-primary' %>
				<%= link_to "Cancelar", :back, :class => "btn btn-default" %>
		<% end %>
	</div>
</div>
