<div class="grid-item col-sm-12 col-md-6 col-lg-4">
	<div class="thumbnail pa0">
		<%= link_to model do %>
			<div class="dim relative h6 h5-l bg-top cover bg-black" style="background-image: url(<%= image_path(featured_image_url(:thumb) || "alone-clouds-hills-1909-527x350.jpg")%>);">
			</div>
		<% end %>
		<div class="caption">
			<%= link_to model do %>
				<h4 class="f3">
					<%= title %>
				</h4>
			<% end %>
			<p class="f4 measure avenir">
				<%= summary %>
			</p>
			<p class="f4 measure avenir">
				<span class="glyphicon glyphicon-usd f5" aria-hidden="true"></span>
				Premiação:
				<%= grants_formatted %>
			</p>
			<p class="f4 measure avenir">
				<%= opportunity_status %>
			</p>
			<p class="f4 measure avenir">
				<%= category_list_formated %>
			</p>
			<a href="#" class="btn btn-primary btn-xs" role="button">
				<i class="glyphicon glyphicon-bookmark"></i>
				<%= followers_count %>
			</a> 
			<a href="#" class="btn btn-default btn-xs" role="button">
				<i class="glyphicon glyphicon-heart-empty"></i>
				<%= evaluators_for(:recomendation).count %>
			</a>
			<a href="#" class="btn btn-default btn-xs pull-right" role="button">
				<i class="glyphicon glyphicon-eye-open"></i>
				<%= impressionist_count(:filter=>:ip_address) %>
			</a>
		</div>
	</div>
</div>
