<ul class="<%= font_class %> list tc pa0">
	<li class="dib mr2"> <%= link_to 'Página inicial', root_path, :class => "gray" %></li>
	<li class="dib mr2"><%= link_to 'Sobre o Emerge', about_path, :class => "gray" %></li>
	<li class="dib mr2"><%= link_to 'Termos de uso', terms_path, :class => "gray" %></li>
	<li class="dib mr2"><%= link_to 'Privacidade', privacy_path, :class => "gray" %></li>
	<li class="dib mr2"><%= link_to 'Anúncios', adds_path , :class => "gray" %></li>
	<li class="dib mr2"><%= link_to "Contato", new_contact_path , :class => "gray" %></li>
</ul>     
