<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
		<%= display_meta_tags %>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
		<!--[if lt IE 9]
			<%= javascript_include_tag 'ie', 'data-turbolinks-track' => true %>
    -->
		<%= javascript_include_tag 'head', 'data-turbolinks-track' => true %>
		<%= headjs_include_tag 'application', 'data-turbolinks-track' => true %>

 		<%= csrf_meta_tags %>
		<%= yield :head %>
		<%= render 'layouts/airbrake' %>
	</head>
  <body class="controller__<%= controller_name %> action__<%= action_name %> courier bg-near-white">
		<%= cell(Navigation::NavbarCell, nil, {:context => {:current_user => current_user}} ) %>
		<div class="container pt6-l pt5">
			<div class="errors__container">
				<%= render 'layouts/messages' %>
			</div>
			<div class="row">
				<%= cell(LeftbarCell, nil, {:context => {:current_user => current_user}} ) %>
				<%= yield %>
			</div>
			<%= cell(Navigation::FooterCell) %>
		</div>
		<%= render 'layouts/analytics' %>
    <%= render 'layouts/javascripts' %>
		<div id="remote_container"></div>
		<%= render 'opportunities/opportunity_quest_modal'%>
	</body>
</html>
