<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
		<%= display_meta_tags %>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
		<!--[if lt IE 9]
			<%= javascript_include_tag 'ie', 'data-turbolinks-track' => true %>
    -->
		<%= javascript_include_tag 'head', 'data-turbolinks-track' => true %>
		<%= headjs_include_tag 'application', 'data-turbolinks-track' => true %>

 		<%= csrf_meta_tags %>
		<%= yield :head %>
		<%= render 'layouts/airbrake' %>
	</head>
  <body class="controller__<%= controller_name %> action__<%= action_name %> courier bg-near-white">
		<%= render 'layouts/navigation' %>
		<div class="container pt6">
			<div class="errors__container">
				<%= render 'layouts/messages' %>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-12">
					<div class="pa3 ba b--black-10 hidden-xs"> 
						<%= cell(Components::Leftbar::ContributionsCell)%>
						<%= cell(Components::Leftbar::AddsCell)%>
						<%= cell(Components::Leftbar::OpportunitiesCell).(:index)%>
					</div>
				</div>

				<%= yield %>
			</div>

      <footer class="page__footer">
        <% if content_for? :footer %>
          <%= yield :footer %>
        <% else %>
          <%= render 'layouts/footer' %>
        <% end %>
      </footer>
		</div>
		<%= render 'layouts/analytics' %>
    <%= render 'layouts/javascripts' %>
		<div id="remote_container"></div>
	</body>
</html>
