<div class="col-sm-8">
	<%= render 'layouts/account_tabs' %>
	<%= simple_form_for @user, :remote => true, url: registration_path(@user), :html => { :multipart => true}, :authenticity_token => true do |f| %>
		<%= f.simple_fields_for :person do |f| %>

			<%= f.input :website %>
			<%= f.input :short_bio, :as => :text , input_html: { :rows => 5,:maxlength => 255 } %>
			<%= f.button :submit, class: 'btn-primary' %>
		<% end %>
	<% end %>
</div>
